.contact {
  padding: 60px 0 70px;
  position: relative;
  z-index: 1;
  &-shape {
    &-left {
      position: absolute;
      top: 5%;
      left: 16%;
      z-index: -1;
    }
    &-right {
      position: absolute;
      right: 15%;
      top: 20%;
      z-index: -1;
    }
  }
  &-form {
    background: $white;
    padding: 30px 30px 40px;
    border-radius: 0 40px 40px;
    position: relative;
    @include mobile-xs {
      padding: 25px;
    }
    // label {
    //   font-weight: 500;
    //   font-size: 16px;
    //   line-height: 34px;
    // }
    // .form-control {
    //   background: #f2f2f6;
    //   border-radius: 0px 10px 10px 10px;
    //   margin-bottom: 10px;
    //   padding: 14px 0px 15px 25px;
    //   border: none;
    // }
    .form-control {
      margin-bottom: 20px;
    }
    &-footer {
      margin-top: 40px;
      text-align: right;
      @include tablet {
        .btn {
          display: block;
          width: 100%;
        }
      }
      @include mobile {
        margin-top: 10px;
      }
    }
  }
}
