<section class="blog">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <article class="blog-post featured">
          <div class="blog-post-header">
            <span class="post-tag">Featured</span>
            <h2 class="post-title">
              <a href="#">
                More Instagram Followers Means Increased Revenue for Your
                Business
              </a>
            </h2>
            <a href="#" class="post-meta">20 Aug 2019</a>
          </div>
          <div class="blog-post-body">
            <p>
              Summary To highlight nature and landscapes, use Valencia and
              Clarendon For photos of food and ingredients, try Juno and Lo-Fi
              Use Rise or Mayfair for selfies and fashion shots Rise and
              Valencia are best for group shots and pets With 25 Instagram
              filter options to choose from, it can be challenging to select the
              right
            </p>
            <a href="single-blog.html" class="btn btn-white">Read more</a>
          </div>
        </article>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-6">
        <article class="blog-post alternate">
          <div class="blog-post-header">
            <h2 class="post-title">
              <a href="#">
                More Instagram Followers Means Increased Revenue for Your
                Business
              </a>
            </h2>
            <a href="#" class="post-meta">20 Aug 2019</a>
          </div>
          <div class="blog-post-body">
            <p>
              Summary To highlight nature and landscapes, use Valencia and
              Clarendon For photos of food and ingredients, try Juno and Lo-Fi
              Use Rise or Mayfair for selfies and fashion shots Rise and
              Valencia are best for group shots and pets With 25 Instagram
              filter options to choose from, it can be challenging to select the
              right
            </p>
            <a href="single-blog.html" class="btn btn-white btn-sm"
              >Read more</a
            >
          </div>
        </article>
      </div>
      <div class="col-lg-6">
        <article class="blog-post alternate-two">
          <div class="blog-post-header">
            <h2 class="post-title">
              <a href="#">
                More Instagram Followers Means Increased Revenue for Your
                Business
              </a>
            </h2>
            <a href="#" class="post-meta">20 Aug 2019</a>
          </div>
          <div class="blog-post-body">
            <p>
              Summary To highlight nature and landscapes, use Valencia and
              Clarendon For photos of food and ingredients, try Juno and Lo-Fi
              Use Rise or Mayfair for selfies and fashion shots Rise and
              Valencia are best for group shots and pets With 25 Instagram
              filter options to choose from, it can be challenging to select the
              right
            </p>
            <a href="single-blog.html" class="btn btn-white btn-sm"
              >Read more</a
            >
          </div>
        </article>
      </div>
      <div class="col-lg-6">
        <article class="blog-post alternate-two">
          <div class="blog-post-header">
            <h2 class="post-title">
              <a href="#">
                More Instagram Followers Means Increased Revenue for Your
                Business
              </a>
            </h2>
            <a href="#" class="post-meta">20 Aug 2019</a>
          </div>
          <div class="blog-post-body">
            <p>
              Summary To highlight nature and landscapes, use Valencia and
              Clarendon For photos of food and ingredients, try Juno and Lo-Fi
              Use Rise or Mayfair for selfies and fashion shots Rise and
              Valencia are best for group shots and pets With 25 Instagram
              filter options to choose from, it can be challenging to select the
              right
            </p>
            <a href="single-blog.html" class="btn btn-white btn-sm"
              >Read more</a
            >
          </div>
        </article>
      </div>
      <div class="col-lg-6">
        <article class="blog-post alternate">
          <div class="blog-post-header">
            <h2 class="post-title">
              <a href="#">
                More Instagram Followers Means Increased Revenue for Your
                Business
              </a>
            </h2>
            <a href="#" class="post-meta">20 Aug 2019</a>
          </div>
          <div class="blog-post-body">
            <p>
              Summary To highlight nature and landscapes, use Valencia and
              Clarendon For photos of food and ingredients, try Juno and Lo-Fi
              Use Rise or Mayfair for selfies and fashion shots Rise and
              Valencia are best for group shots and pets With 25 Instagram
              filter options to choose from, it can be challenging to select the
              right
            </p>
            <a href="single-blog.html" class="btn btn-white btn-sm"
              >Read more</a
            >
          </div>
        </article>
      </div>
    </div>
  </div>
</section>
