<section class="similar-post">
  <div class="similar-post-shape-leftTop">
    <svg viewBox="0 0 175 410" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M17 410c9.389 0 17-7.611 17-17s-7.611-17-17-17-17 7.611-17 17 7.611 17 17 17z" fill="#FF75A1" />
      <path fill-rule="evenodd" clip-rule="evenodd"
        d="M33.5 395a9.5 9.5 0 009.5-9.5 9.5 9.5 0 00-9.5-9.5 9.5 9.5 0 00-9.5 9.5 9.5 9.5 0 009.5 9.5z"
        fill="#8E65FF" />
      <path fill-rule="evenodd" clip-rule="evenodd" d="M61 217l-35 20v40l35 20 35-20v-40l-35-20z" fill="#22BC8F" />
      <path fill-rule="evenodd" clip-rule="evenodd" d="M12 285l20 11 20-11v-22l-20-11-20 11v22z" fill="#8E65FF" />
      <path opacity=".867" fill-rule="evenodd" clip-rule="evenodd"
        d="M92.5 165c45.563 0 82.5-36.937 82.5-82.5S138.063 0 92.5 0 10 36.937 10 82.5 46.937 165 92.5 165z"
        fill="#FBB886" />
      <path fill-rule="evenodd" clip-rule="evenodd"
        d="M54 42a2 2 0 11-4 0 2 2 0 014 0zm9 0a2 2 0 11-4 0 2 2 0 014 0zm9 2a2 2 0 100-4 2 2 0 000 4zm12-2a2 2 0 11-4 0 2 2 0 014 0zm7 2a2 2 0 100-3.999A2 2 0 0091 44zm-37 7a2 2 0 11-4 0 2 2 0 014 0zm7 2a2 2 0 100-4 2 2 0 000 4zm13-2a2 2 0 11-4 0 2 2 0 014 0zm8 2a2 2 0 100-4 2 2 0 000 4zm11-2a2 2 0 11-4 0 2 2 0 014 0zM52 63a2 2 0 100-4 2 2 0 000 4zm11-2a2 2 0 11-4 0 2 2 0 014 0zm9 2a2 2 0 100-4 2 2 0 000 4zm12-2a2 2 0 11-4 0 2 2 0 014 0zm7 2a2 2 0 100-3.999A2 2 0 0091 63zm-37 8a2 2 0 11-4 0 2 2 0 014 0zm7 2a2 2 0 100-4 2 2 0 000 4zm13-2a2 2 0 11-4 0 2 2 0 014 0zm8 2a2 2 0 100-4 2 2 0 000 4zm11-2a2 2 0 11-4 0 2 2 0 014 0zM52 82a2 2 0 100-4 2 2 0 000 4zm11-2a2 2 0 11-4 0 2 2 0 014 0zm9 2a2 2 0 10-.001-4.001A2 2 0 0072 82zm12-2a2 2 0 11-4 0 2 2 0 014 0zm7 2a2 2 0 100-4 2 2 0 000 4z"
        fill="#fff" />
    </svg>
  </div>
  <div class="similar-post-shape-rightBottom">
    <svg viewBox="0 0 160 390" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path fill-rule="evenodd" clip-rule="evenodd"
        d="M50.5 390c27.89 0 50.5-22.61 50.5-50.5S78.39 289 50.5 289 0 311.61 0 339.5 22.61 390 50.5 390z"
        fill="#22BC8F" />
      <path
        d="M160 265.137c0 11.322-9.178 20.5-20.5 20.5s-20.5-9.178-20.5-20.5c0-11.321 9.178-20.5 20.5-20.5s20.5 9.179 20.5 20.5z"
        fill="#FF75A1" />
      <path fill-rule="evenodd" clip-rule="evenodd"
        d="M137 265.137c0 11.322-9.178 20.5-20.5 20.5s-20.5-9.178-20.5-20.5c0-11.321 9.178-20.5 20.5-20.5s20.5 9.179 20.5 20.5z"
        fill="#8E65FF" />
      <path fill-rule="evenodd" clip-rule="evenodd"
        d="M83 192h33v-32H83v32zm9.883-9.585V176h6.616v-6.416l6.619-.003v12.837l-13.235-.003z" fill="#43D3B8" />
      <path fill-rule="evenodd" clip-rule="evenodd" d="M70 147v13l6.502-.003V153.5H83v-6.497L70 147z" fill="#FFD268" />
      <path d="M101 12a6 6 0 100-12 6 6 0 000 12z" fill="#FF75A1" />
      <path d="M146.5 73L157 84l-10.5 11L136 84l10.5-11z" fill="#6051FF" />
    </svg>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-lg-4 mr-auto ml-auto">
        <div class="section-title">
          <h2>Similar posts</h2>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-6">
        <article class="blog-post alternate">
          <div class="blog-post-header">
            <h2 class="post-title">
              <a href="#">
                More Instagram Followers Means Increased Revenue for Your
                Business
              </a>
            </h2>
            <a href="#" class="post-meta">20 Aug 2019</a>
          </div>
          <div class="blog-post-body">
            <p>
              Summary To highlight nature and landscapes, use Valencia and
              Clarendon For photos of food and ingredients, try Juno and Lo-Fi
              Use Rise or Mayfair for selfies and fashion shots Rise and
              Valencia are best for group shots and pets With 25 Instagram
              filter options to choose from, it can be challenging to select the
              right
            </p>
            <a href="single-blog.html" class="btn btn-white btn-sm">Read more</a>
          </div>
        </article>
      </div>
      <div class="col-lg-6">
        <article class="blog-post alternate-two">
          <div class="blog-post-header">
            <h2 class="post-title">
              <a href="#">
                More Instagram Followers Means Increased Revenue for Your
                Business
              </a>
            </h2>
            <a href="#" class="post-meta">20 Aug 2019</a>
          </div>
          <div class="blog-post-body">
            <p>
              Summary To highlight nature and landscapes, use Valencia and
              Clarendon For photos of food and ingredients, try Juno and Lo-Fi
              Use Rise or Mayfair for selfies and fashion shots Rise and
              Valencia are best for group shots and pets With 25 Instagram
              filter options to choose from, it can be challenging to select the
              right
            </p>
            <a href="single-blog.html" class="btn btn-white btn-sm">Read more</a>
          </div>
        </article>
      </div>
    </div>
  </div>
</section>