//site color variables
$body-color: #f7f7fa;
$primary-color: #eaa4a4;
$secondary-color: #add6d2;
$text-color: #000;
$site-ease: cubic-bezier(0.36, 0.03, 0, 0.91);
$gray: #f7f9ff;
$dark-gray: #646569;
$light-gray: #f2f2f6;

// solid colors
$white: #fff;
$black: #000;

// Font Variables
$primary-font: "Poppins", sans-serif;
$secondary-font: "Montserrat", sans-serif;

// Hero Colors
$hero-dark-purple: #2c238a;
$automatic-followers: #00909e;
$instant-followers: #8e65ff;
$automatic-likes: #fbb886;
$instant-likes: #22bc8f;
$instant-views: #f4697f;

// Button Colors
$btn-orange: #fbb886;
$btn-green: #22bc8f;
$btn-purple: #8e65ff;
$btn-pink: #f4697f;
$btn-dark-green: #00909e;
